h1,h2,h3,h4,h5,h6{
    font-family: 'Piedra', cursive;
}
p,a,input,label,textarea,span,ul,li,option{
    font-family: 'Indie Flower', cursive;
}
img{
    max-width: 100%;
}

.btn{
    cursor: pointer;
    background-color: #f05f5c;
    padding: 7px 13px;
    color: white;
    border-radius: 20px;
}
header img{
    width: 165px;
    background-color: black;
    border-radius: 50%;
}
.intro .jumbotron{
    height: 50vh;
    margin-bottom: 0px;
}
.intro h1{
    font-size: 52px;
    font-weight: 400;
    line-height: 1.5;
}
.intro .container{
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

header li{
    margin: 0 51px;
}
header a{
    font-weight: bolder;
}
.second{
    padding: 80px;
}
.second h3{
    padding: 35px;
}

.latest{
    padding: 80px 0px;
    background-color: rgb(248,248,248);
}
.latest h3{
    margin-bottom: 80px;
}
.latest .outer{
    background: white;
    box-shadow: 0 0 8px rgba(0,0,0,0.08);
}
.latest .lower{
    padding: 6px 20px 20px 20px;
}
.latest .innertext{
    text-align: center;
}
.latest a{
    color: black;
    text-decoration: none;
}

.register{
    padding: 50px 0;
}
.footeritems{
    text-align: center;
}
.contact a{
    padding: 40px 50px;
    color: black;
    text-decoration: none;
}